[submodule "scripts"]
	path = scripts
	url = https://github.com/rgreenblatt/scripts
[submodule "nvim"]
	path = nvim
	url = https://github.com/rgreenblatt/nvim
[submodule "qutebrowser"]
	path = qutebrowser
	url = https://github.com/rgreenblatt/qutebrowser
[submodule "i3"]
	path = i3
	url = https://github.com/rgreenblatt/i3
[submodule "i3status"]
	path = i3status
	url = https://github.com/rgreenblatt/i3status
[submodule "keyboard"]
	path = keyboard
	url = https://github.com/rgreenblatt/keyboard
[submodule "zimfw"]
	path = zimfw
	url = https://github.com/rgreenblatt/zimfw
[submodule "zathura"]
	path = zathura
	url = https://github.com/rgreenblatt/zathura
[submodule "bat"]
	path = bat
	url = https://github.com/rgreenblatt/bat
[submodule "st"]
	path = st
	url = https://github.com/rgreenblatt/st-old
[submodule "compton"]
	path = compton
	url = https://github.com/rgreenblatt/compton
